body {
   color:#eeeeee; 
   background-color:#222222;
}

img {
  object-fit:fill;
  width:90%;
  margin:auto;
  padding:10px;
  display:block;
}

a {
   color:gray;
}

div.binderSVG svg {
  background-color:#111111;
}